﻿@page
@model RU_BOT.Pages.FullBotChat_Model

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>@Model.BotHandle</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script crossorigin="anonymous" src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
        <style type="text/css">
            html, body { height: 100%; }
            body { margin: 0; }
            #WebChat { height: 100%; width: 100%; }
        </style>
    </head>
    <body>
        <div id="WebChat" role="main"></div>
        <script type="text/javascript">
            // The bot's webChat control can be widely customized using the styleOptions object below.
            // The available style options are documented at:
            // https://github.com/microsoft/BotFramework-WebChat/blob/main/packages/api/src/defaultStyleOptions.ts
            const myStyleOptions = {
                backgroundColor: "rgba(240, 0, 0, 0.1)",
                sendBoxBackground: "#F0F0F0",
                sendBoxButtonColor: "Red",
                bubbleBackground: "rgba(0, 0, 255, 0.1)",
                bubbleFromUserBackground: "rgba(0, 255, 0, 0.1)"
                };
            window.WebChat.renderWebChat(
                {
                directLine: window.WebChat.createDirectLine({
                    token: "@Model.EphemeralToken"
                    }),
                // userID: "@Model.WebChatUserGUID",    // A UserID is already present in the EphemeralToken anyway; specified when token was requested
                username: "@Model.WebChatUserName",
                locale: "en-US",
                styleOptions: myStyleOptions
                },
                document.getElementById("WebChat")
            );
            document.querySelector("#WebChat > *").focus();
        </script>
    </body>
</html>