﻿@page
@model RU_BOT.Pages.IndexModel
@{
    ViewData["Title"] = Model.BotHandle;
}

@section head {
    <link rel="stylesheet" href="~/css/Index.css" />
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
}

<section id="BotClient">
    <iframe src="https://webchat.botframework.com/embed/@Model.BotHandle?t=@Model.EphemeralToken"></iframe>
</section>

@section scripts {
    @*<script type="text/javascript" src="~/js/Index.js" asp-append-version="true"></script>*@
}

