﻿@page
@model RU_BOT.Pages.WebChatModel
@{
    ViewData["Title"] = Model.BotHandle;
}

@section head {
    <link rel="stylesheet" href="~/css/WebChat.css" />
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
}

<section id="BotClient">
    <div id="WebChat" role="main"></div>
</section>

@section scripts {
    <script type="text/javascript">
        // The bot's webChat control can be widely customized using the styleOptions object below.
        // The available style options are documented at:
        // https://github.com/microsoft/BotFramework-WebChat/blob/main/packages/api/src/defaultStyleOptions.ts
        const myStyleOptions = {
            backgroundColor: 'rgba(255, 255, 255, 0.5)',
            sendBoxBackground: 'rgba(225, 193, 110, 0.5)',
            bubbleBackground: 'rgba(204, 204, 153, 0.5)',
            bubbleFromUserBackground: 'rgba(225, 193, 110, 0.5)'
            };
        window.WebChat.renderWebChat(
            {
            directLine: window.WebChat.createDirectLine({
                token: '@Model.EphemeralToken'
                }),
            // userID: '@Model.WebChatUserGUID',    // A UserID is already present in the EphemeralToken anyway; specified when token was requested
            username: '@Model.WebChatUserName',
            locale: 'en-US',
            styleOptions: myStyleOptions
            },
            document.getElementById('WebChat')
        );
        document.querySelector('#WebChat > *').focus();
    </script>
}