﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About Test-a-Bot";
}
<h1>@ViewData["Title"]</h1>

<p>This small app allows to test a bot application - created with Microsoft's Bot Framework - by engaging the bot...</p>
<ul>
    <li>...via the Direct Line channel</li>
    <li>...with an Web Chat control</li>
</ul>
<h2>It is safe...</h2>
<p>The Web Chat control is instantiated in the index page, and the bot details - such as the sensitive Direct Line secret - never leave the browser.</p>
<p>Everything happens inside the Index page. The server-side of this app does not need to "know" the Direct Line secret key; it is only passed to the Web Chat client.</p>
<div class="submit">
    <a class="btn btn-primary" asp-page="/Index">Start testing</a>
</div>
