﻿@page
@model DirectLineModel
@{
    ViewData["Title"] = "DirectLine";
}

@section head {
    <link rel="stylesheet" href="~/css/DirectLine.css" />
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
}

<section id="Intro" class="text-center">
    <h1 class="display-4">Test your bot on Direct Line</h1>
    <p>This page instantiates a Web Chat control as a client, helping you to conversate with a bot over the Direct Line channel.</p>
    <p>IMPORTANT: For bots that are supposed to send a Greeting/Welcome message, use the <a asp-page="/DirectLine-Welcome" title="For bots sending Welcom/Greeting messages">DirectLine-Welcome</a> page!</p>
</section>
<section id="BotBasics">
    <div class="form-group">
        <label for="BotHandle" class="required">Bot name (handle)</label>
        <input type="text" name="BotHandle" value="@Model.BotAttributes.BotHandle" required="required" placeholder="Bot handle/name here" class="form-control form-control-lg" />
    </div>
    <div class="form-group">
        <label for="DirectLineSecret" class="required">Direct Line key (secret)</label>
        <input type="text" name="DirectLineSecret" value="@Model.BotAttributes.DirectLineSecret" required="required" placeholder="Direct Line key/secret here" class="form-control" />
    </div>
    <div class="submit">
        <button type="button" class="btn btn-success btn-lg" onclick="MyPageDOM.Events.btnSubmit_Click();">Start conversation</button>
    </div>
</section>
<section id="ValidationError" class="alert alert-danger">
    <h2 class="alert-heading">Validation error</h2>
    <p>Please make sure you place the required info inside the controls. Cannot continue without the bot basics!</p>
    <fieldset class="submit">
        <button type="button" class="btn btn-info btn-lg" onclick="MyPageDOM.Events.btnValidation_Click();">Understood</button>
    </fieldset>
</section>
<section id="BotDetails" class="text-center">
    <h2>... now talk to bot ...</h2>
    <h3 id="txtBotHandle"></h3>
</section>
<section id="BotClient">
    <section id="WebChat-Control" class="mt-4">
        <div id="webChat">

        </div>
    </section>
</section>

@section scripts {
    <script type="text/javascript" src="~/js/DirectLine.js" asp-append-version="true"></script>
}