﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Web Chat DL";
}

@section head {
    <link rel="stylesheet" href="~/css/Index.css" />
}

<section id="Intro" class="text-center">
    <h1 class="display-4">Test a bot</h1>
    <h3>on Direct Line or Web Chat channels</h3>
    <p>This application is using sample code to communicate with a bot application built on Microsoft's Bot Framework</p>
    <p>The application is not gathering or persisting any of the data input here. The data is solely used to communicate with the Bot Connector service.</p>
</section>
<section id="Links" class="text-center">
    <div>
        <a class="btn btn-primary" asp-page="DirectLine">Direct Line channel</a>
        <p>Simply instantiate a <a href="https://github.com/Microsoft/BotFramework-WebChat" target="_blank">Web Chat control</a> to talk to your bot over the Direct Line channel</p>
    </div>
    <div>
        <a class="btn btn-primary" asp-page="DirectLine-Welcome">Direct Line with Welcome</a>
        <p>The Web Chat control is sending the background activity, for bots sending a Greeting or Welcome message, <a href="https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/WELCOME_MESSAGE.md#secrets-and-tokens-without-user-ids">including on Direct Line</a></p>
    </div>
    <div>
        <a class="btn btn-primary" asp-page="WebChat">Web Chat channel</a>
        <p>A simple &lt;iframe&gt; element is placed into the page, as per instructions in the Azure Portal &gt; bot &gt; blade for channels &gt; Web Chat channel edit details</p>
    </div>
    <div>
        <a class="btn btn-primary" asp-page="WebChat-Welcome">Web Chat with Welcome</a>
        <p>In the &lt;iframe&gt;, we're calling with a pre-fetched ephemeral token (t) instead of Web Chat channel secret (s) key. The token contains a "user" claim, as per <a href="https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/WELCOME_MESSAGE.md#secrets-and-tokens-without-user-ids">details here</a></p>
    </div>
</section>

@section scripts {
    <script type="text/javascript" src="~/js/index.js" asp-append-version="true"></script>
}