﻿@page
@model Test_A_Bot.Pages.WebChatModel
@{
    ViewData["Title"] = "WebChat iframe";
}

@section head {
    <link rel="stylesheet" href="~/css/WebChat.css" />
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
}
@if (Model.BotAttributes.HasInput)
{
    <section id="BotDetails" class="text-center">
        <h1>... now talk to your bot ...</h1>
        <h3 id="txtBotHandle">@Model.BotAttributes.BotHandle</h3>
    </section>
    <section id="BotClient">
        <iframe src="https://webchat.botframework.com/embed/@Model.BotAttributes.BotHandle?s=@Model.BotAttributes.WebChatSecret" style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
    </section>
}
else
{
    <section id="Intro" class="text-center">
        <h1 class="display-4">Test your bot on Web Chat</h1>
        <p>This page is loading the Web Chat IFRAME so that a bot can be tested.</p>
        <p>Make sure that the Web Chat channel IS enabled for the target bot.</p>
    </section>
    <section id="BotBasics">
        <form method="POST">
            <div class="form-group">
                <label for="BotHandle" class="required">Bot name (handle)</label>
                <input type="text" name="BotAttributes.BotHandle" value="@Model.BotAttributes.BotHandle" required="required" placeholder="Bot handle/name here" class="form-control form-control-lg" />
            </div>
            <div class="form-group">
                <label for="WebChatSecret" class="required">WebChat channel key (secret)</label>
                <input type="text" name="BotAttributes.WebChatSecret" value="@Model.BotAttributes.WebChatSecret" required="required" placeholder="Web Chat key/secret here" class="form-control" />
            </div>
            <div class="submit">
                <button type="button" class="btn btn-success btn-lg" onclick="MyPageDOM.Events.btnSubmit_Click();">Start conversation</button>
            </div>
        </form>
    </section>
    <section id="ValidationError" class="alert alert-danger">
        <h2 class="alert-heading">Validation error</h2>
        <p>Please make sure you place the required info inside the controls. Cannot continue without the bot basics!</p>
        <fieldset class="submit">
            <button type="button" class="btn btn-info btn-lg" onclick="MyPageDOM.Events.btnValidation_Click();">Understood</button>
        </fieldset>
    </section>
}

@section scripts {
    <script type="text/javascript" src="~/js/WebChat.js" asp-append-version="true"></script>
}

