﻿#BotBasics .form-group {
    margin-bottom: 2.0em;
    margin-top: 2.0em;
}

#BotDetails {
    display: none;
    margin-bottom: 2.0em;
}

#BotClient {
    display: none;
}

#ValidationError {
    display: none;
}
