﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


a {
    cursor: pointer;
}

label {
    font-weight: normal;
    color: #909090;
}

    label.input-group {
        cursor: pointer;
    }

progress {
    width: 100%;
    display: none;
}

table.table thead {
    font-variant: small-caps;
}

table.table tfoot td:last-child {
    text-align: right;
}

table.table tfoot b {
    font-weight: 600;
}

.card-body table.table {
    margin-bottom: 0;
}

label.help[data-toggle='tooltip'] {
    margin-left: 1.0em;
    color: green;
    cursor: help;
}

span.null {
    color: #330000;
}

p.form-control-static {
    border: solid 1px #E0E0E0;
    padding: 0.5em;
    min-height: 36px;
    font-size: 14px;
}

    p.form-control-static.input-lg {
        font-size: 18px;
        border-radius: 0px;
        padding: 0.5em;
    }

.form-control::-moz-placeholder {
    font-style: italic;
    color: #E0E0E0;
}

.form-control:-ms-input-placeholder {
    font-style: italic;
    color: #E0E0E0;
}

.form-control::-webkit-input-placeholder {
    font-style: italic;
    color: #E0E0E0;
}

.tristate {
    cursor: pointer;
}

    .tristate .fa-check-circle {
        color: green;
    }

    .tristate .fa-question-circle {
        color: orangered;
    }

    .tristate .fa-times-circle {
        color: gray;
    }

    .tristate.disabled {
        color: #C0C0C0;
        cursor: not-allowed;
    }

        .tristate.disabled .fa-check-circle {
            color: lightgreen;
        }

        .tristate.disabled .fa-question-circle {
            color: orange;
        }

        .tristate.disabled .fa-times-circle {
            color: #C0C0C0;
        }

.submit {
    text-align: right;
}

.Submit {
    margin-top: 2.0em;
    text-align: right;
}

    .submit .btn, .Submit .btn {
        margin-left: 1.0em;
        font-weight: 600;
    }

input[required],
textarea[required],
input.required,
select.required {
    color: #101010;
    border-color: #600000;
    font-weight: 600;
}

body > header .navbar-brand {
    font-size: 1.7em;
    color: teal;
}

#MasterNav-Modules,
#MasterNav-Mobile {
    font-weight: 600;
    font-size: 1.2em;
}

.AppMessage {
    margin-top: 1.0em;
}

    .AppMessage .alert {
        padding: 1.0em;
    }

body > footer {
    margin-top: 4.0em;
}

@media (min-width: 768px) {
}

@media (min-width: 970px) {
}

@media (min-width: 1170px) {
    .AppMessage.alert {
        padding: 2.0em;
    }
}
