﻿@model MultiInstanceEchoBot.Controllers.ChatConfig

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Tests for bot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
    <style type="text/css">
        article {
            background-color: #E0E0E0;
            padding-bottom: 4.0em;
        }

            article #webChat {
                width: 50%;
                min-width: 320px;
                min-height: 360px;
                margin-left: auto;
                margin-right: auto;
                background-color: #FEFEFE;
            }
    </style>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Tests for bot</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" target="_blank" href="">Initialize</a>
            <a class="p-2 text-dark" target="_blank" href="">Run alive</a>
            <a class="p-2 text-dark" target="_blank" href="">Check status</a>
        </nav>
    </div>
    <article class="container">
        <h1>Tests for bot</h1>
        <h2>Try to engage the bot from a web page using the WebChat control.</h2>
        <section id="WebChat-Control" class="mt-4">
            <div id="webChat">

            </div>
        </section>
    </article>
    <script type="text/javascript">
        window.WebChat.renderWebChat(
            {
                directLine: window.WebChat.createDirectLine({
                    token: '@Model.Token'
                    }),
                userID: '@Model.UserId',
                username: 'Web Chat User',
                locale: 'en-US',
                botAvatarInitials: 'WC',
                userAvatarInitials: 'WW'
            },
            document.getElementById('webChat')
        );
        document.querySelector('#webChat > *').focus();
    </script>
</body>
</html>
