﻿@model MultiInstanceEchoBot.Controllers.ChatConfig

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>IE WebChat client</title>
    <script crossorigin="anonymous" src="https://cdn.botframework.com/botframework-webchat/latest/webchat-es5.js"></script>
    <style type="text/css">
        html,
        body {
            height: 100%;
            background-color: aqua;
            font-family: Verdana, Arial, Arial, Helvetica, sans-serif;
            color: #FEFEFE;
        }

        h1 {
            font-weight: normal;
            text-align: center;
            font-size: 2.0em;
        }
        h2 {
            font-weight: normal;
            text-align: center;
            font-size: 1.2em;
        }

        body {
            margin: 0;
        }

        #webChat {
            margin: 1.0em auto auto auto;
            height: 70%;
            width: 50%;
        }
    </style>
</head>
<body>
    <article>
        <h1>Tests for bot</h1>
        <h2>Try to engage the bot from a web page using the WebChat control<br />rendered in Internet Explorer 11</h2>
    </article>
    <div id="webChat" role="main"></div>
    <script type="text/javascript">
        window.WebChat.renderWebChat(
            {
                directLine: window.WebChat.createDirectLine({
                        token: '@Model.Token'
                    }),
                userID: '@Model.UserId',
                username: 'Web Chat User',
                locale: 'en-US',
                botAvatarInitials: 'WC',
                userAvatarInitials: 'WW'
            },
            document.getElementById('webChat')
        );
        document.querySelector('#webChat > *').focus();
    </script>
</body>
</html>
